*{
    margin: 0;
}

.task-list-wrapper{
    border: 1px solid grey;
    width: 600px;
    height: 600px;
    margin: 75px auto 0px auto;
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0px 25px;
}

.head{
    /* border: 1px solid yellow; */
    font-size: 40px;
    padding: 20px 0px 15px 0px;
}

.task-details{
    /* border: 1px solid red; */
    padding: 0px 0px 15px 0px;
    color: grey;
    
}

.task-inp{
    /* border: 1px solid blue; */
    height: 30px;
    margin-bottom: 15px;
    padding: 0px 0px 0px 0px;
    border: none;
    border-bottom: 3px solid #23acae;
}

.submit-btn{
    /* border: 1px solid maroon; */
    margin: 0px 0px 15px 0px;
    width: 100px;
    height: 25px;
    padding: 5px;
    background-color: #21adb0;
    color: white;
    border-radius: 3px;
}

.task-data-wrapper{
    /* border: 1px solid cyan; */
    /* display: none; */
}

.task-list-count{
    /* border: 1px solid blueviolet; */
    padding: 0px 0px 15px 0px ;
    border-bottom: grey;
    color: grey;
}

.added-task-wrapper{
    /* border: 1px solid brown; */
    /* height: 100px; */
    padding: 0px 0px 15px 0px;
}

.task-name{
    list-style-type: none;
    padding: 0px 20px 10px 0px;
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightblue;
}

.delete-btn{
    width: 50px;
    /* height: 20px; */
    /* border: 1px solid grey; */
    text-align: center;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 5px;

}

.clear-btn{
    /* border: 1px solid chartreuse; */
    width: 100px;
    /* height: 25px; */
    margin: 0px 0px 15px 0px;
    background-color: black;
    color: white;
    padding: 5px;
    display: none;
    border-radius: 5px;
}